@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  /*custome font size*/
  --text-28px:var(--font-28px);
  --text-12px:var(--font-12px);
}
  :root {
    --radius: 0.65rem;

    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);

    /* PRIMARY BRAND COLOR */
    --primary: #5A413F;
    --primary-foreground: #ffffff;

    /* ACCENT BRAND COLOR */
    --accent: #B77767;
    --accent-foreground: #ffffff;

    --secondary: oklch(0.96 0.02 35);
    --secondary-foreground: oklch(0.25 0.03 35);

    --muted: oklch(0.96 0.02 35);
    --muted-foreground: oklch(0.55 0.04 35);

    /* SUCCESS / ERROR COLORS */
    --success: #189351;
    --destructive: #F83E50;

    --border: oklch(0.92 0.01 35);
    --input: oklch(0.92 0.01 35);

    /* Ring same as primary */
    --ring: #5A413F;

    /* Chart Colors */
    --chart-1: #5A413F;
    --chart-2: #B77767;
    --chart-3: #189351;
    --chart-4: #F83E50;
    --chart-5: oklch(0.5 0.1 25);

    /* Sidebar */
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);

    --sidebar-primary: #5A413F;
    --sidebar-primary-foreground: #ffffff;

    --sidebar-accent: #B77767;
    --sidebar-accent-foreground: #ffffff;

    --sidebar-border: oklch(0.92 0.01 35);
    --sidebar-ring: #5A413F;
  /*custome font size*/
  --font-28px:1.75rem;
  --font-12px:.75rem;
}

.dark {
    --background: oklch(0.14 0.01 35);
    --foreground: oklch(0.98 0 0);

    --card: oklch(0.21 0.02 35);
    --card-foreground: oklch(0.98 0 0);

    --popover: oklch(0.21 0.02 35);
    --popover-foreground: oklch(0.98 0 0);

    /* PRIMARY */
    --primary: #5A413F;
    --primary-foreground: #ffffff;

    /* ACCENT */
    --accent: #B77767;
    --accent-foreground: #ffffff;

    --secondary: oklch(0.27 0.02 35);
    --secondary-foreground: oklch(0.98 0 0);

    --muted: oklch(0.27 0.02 35);
    --muted-foreground: oklch(0.7 0.04 35);

    --success: #189351;
    --destructive: #F83E50;

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);

    --ring: #5A413F;

    --sidebar: oklch(0.21 0.02 35);
    --sidebar-foreground: oklch(0.98 0 0);

    --sidebar-primary: #5A413F;
    --sidebar-primary-foreground: #ffffff;

    --sidebar-accent: #B77767;
    --sidebar-accent-foreground: #ffffff;

    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: #5A413F;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#search-label span{
    animation: searchSlide 12s infinite;
}
@keyframes searchSlide{
  0%, 15% {
    transform: translateY(0);
  }

  20%, 35% {
      transform: translateY(-100%);
  }
  40%, 55% {
      transform: translateY(-200%);
  }
  60%, 75% {
      transform: translateY(-300%);
  }
  80%, 95% {
      transform: translateY(-400%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

.animate-slideRight {
  animation: slideRight 0.3s ease-in-out forwards;
}

.animate-slideLeft {
  animation: slideLeft 0.3s ease-in-out forwards;
}


@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.25s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.25s ease-out;
  }
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0);
}


@keyframes moveGlow {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.animated-border {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 1px; /* border thickness */
  background: #e5e5e5;
}

.animated-border .glow {
  position: absolute;
  width: 120px;
  height: 120px;
  background: radial-gradient(
    circle,
    #b67665 0%,
    #8e5bc4 40%,
    #ff8a00 70%,
    transparent 80%
  );
  animation: moveGlow 5s linear infinite;
  offset-path: rect(0% auto 100% auto);
  pointer-events: none;
}

.animated-border > .inner {
  position: relative;
  background: white;
  border-radius: 12px;
  z-index: 10;
}

/* ---------------- GOLD SHIMMER ---------------- */

.gold-shimmer {
  position: relative;
  overflow: hidden;
}

.gold-shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 120%;
  height: 100%;

   background: linear-gradient(
    110deg,
    transparent 40%,
    rgba(255,255,255,0.4) 50%,
    transparent 60%
  );



  animation: goldSweep 4s linear infinite;
}

@keyframes goldSweep {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}


/* ---------------- CART WIGGLE + SCALE ---------------- */

@keyframes cartLuxuryWiggle {

  0%,90%,100% {
    transform: scale(1) rotate(0deg);
  }

  92% {
    transform: scale(1.5) rotate(-12deg);
  }

  94% {
    transform: scale(1.5) rotate(12deg);
  }

  96% {
    transform: scale(1.2) rotate(-8deg);
  }

  98% {
    transform: scale(1.2) rotate(8deg);
  }
}

.animate-cart-luxury {
  animation: cartLuxuryWiggle 2s ease-in-out infinite;
}


/* ---------------- RIPPLE ---------------- */

.ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: rippleAnim 600ms linear;
  background: rgba(255,255,255,0.6);
}

@keyframes rippleAnim {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

